# Practice Assignment :: 01

# How to import pandas and check the version ?

In [30]:
import pandas as pd
print(pd._version)

<module 'pandas._version' from 'C:\\Users\\uc\\anaconda3\\anaconda\\lib\\site-packages\\pandas\\_version.py'>

# import useful libraries

In [6]:
import matplotlib.pyplot as plt

In [10]:
import seaborn as sns

# How to create a series from a list, numpy array and dict?

In [14]:
import numpy as np
mylist = list ('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
print(mydict)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

# How to convert the index of a series into a column of a dataframe?

hint:

convert the series ser into a dataframe with its index as another column on the dataframe.

In [39]:
#Creating Series of programming Languages.
s = pd.Series(['c', 'c++', 'Java', 'Pyhton', 'Perl', 'Ruby', 'Julia'])
print(s)

0         c
1       c++
2      Java
3    Pyhton
4      Perl
5      Ruby
6     Julia
dtype: object

# How to combine many series to form a dataframe?

In [48]:
a = pd.Series([1,2,3,4], index=[7,2,8,9])
b = pd.Series([5,6,7,8], index=[7,2,8,9])
data = pd.DataFrame({'a': a,'b':b, 'idx_col':a.index})
print(data)

   a  b  idx_col
7  1  5        7
2  2  6        2
8  3  7        8
9  4  8        9

# How to calculate the number of characters in each word in a series?

In [4]:
words = pd.Series(['java', 'Kotlin', 'Python', 'Scala', 'Ruby'])
print("Given Series:")
print(words)

Given Series:
0      java
1    Kotlin
2    Python
3     Scala
4      Ruby
dtype: object

# How to filter valid emails from a series?
Desired Output::
1 rameses@egypt.com
2 matt@t.com
3 narendra@modi.com

In [21]:
emails = pd.Series(['buying books at amazon.com', 'rameses@egypt.com', 'matt@t.com', 'marendra@modi.com'])
pattern = '[A-za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
print(emails)
print(pattern)

0    buying books at amazon.com
1             rameses@egypt.com
2                    matt@t.com
3             marendra@modi.com
dtype: object
[A-za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}

# How to replace missing space in a string with the least frequent character?
Input::
my_str='dbc dcb abed gade'

Desired Output::
'aiccbibxosjcuwry'# least frequent is'c'

In [23]:
str1 = 'abc def abcdef icd'
print("Original series:")
print(str1)
ser = pd.Series(list(str1))
element_freq = ser.value_counts()
print(element_freq)
current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

Original series:
abc def abcdef icd
d    3
     3
c    3
a    2
f    2
e    2
b    2
i    1
dtype: int64
abcidefiabcdefiicd

# How to swap two rows of a dataframe?

In [28]:
a = pd.DataFrame(data = [[1,2],[3,4]], index=range(2), columns = ['A', 'B'])
b, c = a.iloc[0], a.iloc[1]
a.iloc[0], a.iloc[1] = c, b
print(a)

   A  B
0  3  4
1  3  4

# How to get the positions where values of two columns match?

# How to replace both the diagonals of dataframe with 0?

In [36]:
import numpy
import pandas
df = pandas.DataFrame(numpy.random.rand(5,5))
df

          0         1         2         3         4
0  0.153428  0.935299  0.717542  0.325583  0.013885
1  0.734874  0.628404  0.991732  0.728752  0.135569
2  0.333948  0.808864  0.502913  0.380497  0.232761
3  0.638718  0.821515  0.950814  0.860065  0.597708
4  0.127903  0.574486  0.343095  0.573663  0.702889

In [37]:
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        if i==j:
            df.loc[i,j] = 0
df

          0         1         2         3         4
0  0.000000  0.935299  0.717542  0.325583  0.013885
1  0.734874  0.000000  0.991732  0.728752  0.135569
2  0.333948  0.808864  0.000000  0.380497  0.232761
3  0.638718  0.821515  0.950814  0.000000  0.597708
4  0.127903  0.574486  0.343095  0.573663  0.000000

# How to get the particular group of a groupby dataframe by key?
This is a question related to understanding of grouped dataframe.

In [64]:
def gb_df_key(gb, key, orig_df):
             ix = gb.indices[key]
             return orig_df.ix[ix]
print(gb_df_key)

<function gb_df_key at 0x00000188C4F00EE8>

# Which column contains the highest number of row-wise maximum values?
Obtain the column name with the highest number of row-wise maximum’s in df.¶

In [70]:
def main():
   # List of Tuples
   matrix = [(22, 16, 23),
             (33, np.NaN, 11),
             (44, 34, 11),
             (55, 35, np.NaN),
             (66, 36, 13)
             ]
   # Create a DataFrame object
   dfObj = pd.DataFrame(matrix, index=list('abcde'), columns=list('xyz'))
   print('Original Dataframe Contents :')
   print(dfObj)
   print('***** Get Maximum value in every column ***** ')
   # Get a series containing maximum value of each column
   maxValuesObj = dfObj.max()
   print('Maximum value in each column : ')
   print(maxValuesObj)
   print('***** Get Maximum value in every row ***** ')
   # Get a series containing maximum value of each row
   maxValuesObj = dfObj.max(axis=1)
   print('Maximum value in each row : ')
   print(maxValuesObj)
   print('***** Get Maximum value in every column without skipping NaN ***** ')
   # Get a series containing maximum value of each column without skipping NaN
   maxValuesObj = dfObj.max(skipna=False)
   print('Maximum value in each column including NaN: ')
   print(maxValuesObj)
   print('***** Get Maximum value in a single column ***** ')
   # Get maximum value of a single column 'y'
   maxValue = dfObj['y'].max()
   print("Maximum value in column 'y': " , maxValue)
   # Get maximum value of a single column 'y'
   maxValue = dfObj.max()['y']
   print("Maximum value in column 'y': " , maxValue)
   print('***** Get Maximum value in certain columns only ***** ')
   # Get maximum value of a single column 'y'
   maxValue = dfObj[['y', 'z']].max()
   print("Maximum value in column 'y' & 'z': ")
   print(maxValue)
   print('***** Get row index label of Maximum value in every column *****')
   # get the index position of max values in every column
   maxValueIndexObj = dfObj.idxmax()
   print("Max values of columns are at row index position :")
   print(maxValueIndexObj)
   print('***** Get Column name of Maximum value in every row *****')
   # get the column name of max values in every row
   maxValueIndexObj = dfObj.idxmax(axis=1)
   print("Max values of row are at following columns :")
   print(maxValueIndexObj)
if __name__ == '__main__':
   main()

Original Dataframe Contents :
    x     y     z
a  22  16.0  23.0
b  33   NaN  11.0
c  44  34.0  11.0
d  55  35.0   NaN
e  66  36.0  13.0
***** Get Maximum value in every column *****
Maximum value in each column :
x    66.0
y    36.0
z    23.0
dtype: float64
***** Get Maximum value in every row *****
Maximum value in each row :
a    23.0
b    33.0
c    44.0
d    55.0
e    66.0
dtype: float64
***** Get Maximum value in every column without skipping NaN *****
Maximum value in each column including NaN:
x    66.0
y     NaN
z     NaN
dtype: float64
***** Get Maximum value in a single column *****
Maximum value in column 'y':  36.0
Maximum value in column 'y':  36.0
***** Get Maximum value in certain columns only *****
Maximum value in column 'y' & 'z':
y    36.0
z    23.0
dtype: float64
***** Get row index label of Maximum value in every column *****
Max values of columns are at row index position :
x    e
y    e
z    a
dtype: object
***** Get Column name of Maximum value in every row *****
Max values of row are at following columns :
a    z
b    x
c    x
d    x
e    x
dtype: object